﻿#content.about {
	section{margin-bottom: 50px;}
	section#ab1{
		min-height: 555px;
		background: url(../images/about/img01_1.jpg) right bottom no-repeat;
		div#ab1_1{
			width: 552px;
			margin-bottom: 20px;
		}
		div#ab1_2{
			width: 310px;
			h3{
				margin-bottom: 10px;
				font-size: $fsize_l;
				color: $color_red;
				border-bottom: 1px solid $bdc_gray;
			}
		}
	}
	section#ab2{
		min-height: 495px;
		background: url(../images/about/img02_1.jpg) 0 0 no-repeat;
		div#ab2_1{
			float: right;
			width: 639px;
			h2 img{padding-bottom: 30px;}
			img{float: left;}
			p{
				float: right;
				width: 407px;
			}
		}
	}
	section#ab3{
		min-height: 570px;
		background: url(../images/about/img03_1.jpg) right bottom no-repeat;
		div#ab3_1{
			width: 621px;
			margin-bottom: 30px;
		}
		div#ab3_2{
			width: 380px;
			padding: 15px 15px 10px 25px;
			border: 2px solid $bdc_gray;
			border-radius: 5px;
			h3{
				margin-bottom: 5px;
				text-align: center;
				font-size: $fsize_m;
				color: $color_blue;
			}
			ol{
				padding-left: $fsize_m *1.5;
				text-indent: -$fsize_m *1.5;
				li{margin-bottom: 5px;}
			}

		}
	}
	section#ab4{
		min-height: 646px;
		background: url(../images/about/img04_1.jpg) 0 0 no-repeat;
		margin-bottom: 150px;
		div#ab4_1{
			float: right;
			width: 521px;
			min-height: 646px;
			background: url(../images/about/img04_2.jpg) right bottom no-repeat;
			dt,h4{color: $color_green;}
			dt{
				margin-top: 5px;
				font-weight: bold;
			}
			h4{
				margin-top: 20px;
				font-size: $fsize_m;
			}

		}
	}
	
}