﻿@charset "UTF-8";
/* ===================
共通変数 
===================*/ 
$fsize_l:1.6rem;/*フォントサイズ大 16px*/
$fsize_m:1.4rem;/*フォントサイズ中 14px*/
$fsize_s:1.3rem;/*フォントサイズ小 13px*/
$fsize_ss:1.2rem;/*フォントサイズ極小 12px*/
$fcolor:#000;/*font-color 黒*/
$fcolor_gray:#333;/*font-color グレー*/
$bdc_gray: #d4d4d4;/*border-color グレー*/
$color_red:#e84567;/*テーマカラー赤*/
$color_green:#00ab84;/*テーマカラー緑*/
$color_orange:#f39700;/*テーマカラーオレンジ*/
$color_blue:#036eb8;/*テーマカラー青*/

@mixin base_width {	/*コンテンツ幅*/
     width: 960px;
     margin: 0 auto;
}
@mixin link($color:#000){/*ａ擬似クラス文字色*/
	&:link{color: $color;}
	&:visited{color: $color;}
	&:hover{color: $color;}
	&:active{color: $color;}
}

/* ===================
共通スタイル 
===================*/ 
html{
	font-size: 62.5%; /*10px*/
}
body {
	-webkit-text-size-adjust: 100%;
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴシック Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic", sans-serif;
	font-size: 1.4rem;
	font-size: 1.4em;
	color: $fcolor;
}
p{line-height: 1.7;font-size: $fsize_m;}

header#header{
	@include base_width;
	h1{
		padding: 25px 0;
		text-align: center;
		img:hover{opacity: 0.3;}
	}
	nav {
		width: 100%;
		border: 1px solid $color_green;
		border-left: none;
		border-right: none;
		&.index{border-bottom: none;}
		ul{
			display: table;
			width: 100%;
		}
		li{
			position: relative;
			display: table-cell;
			vertical-align: middle;
			text-align:center;
			padding: 10px 0;
			a {
				display: block;
				padding: 0 $fsize_m;
				border-right: 1px dotted $color_green;
				&:hover {
					text-decoration:none;
					opacity: 0.5;
				}
			}
			&:first-child a{
				padding-left: $fsize_m *2 ;
				border-left: 1px dotted $color_green;
				background: url(../images/common/icon_home.png) $fsize_m 2px no-repeat;
			}
			&:last-child {
				text-align: right; 
				padding-right: 0;
			}
			&.active{
				border-bottom: 3px solid $color_green;
				a:after{
					position: absolute;
					bottom: 0;
					left:45%;
					border: 5px solid transparent; 
					border-bottom-color: $color_green;
					content: "";
				}
			}
		}
	}
}
ol.breadcrumb{
	@include base_width;
	margin-bottom: 20px;
	line-height: 2;
	text-align: right;
	li{
		display: inline-block;
		&:before {
		    	margin: 0 10px;
		    	content: ">";	
		}
		&:first-child{
			&:before {
				margin: 0;
				content: none;
			}
		}
	}
}

#content {
	width: 980px;
	margin:0 auto;
	background: url(../images/common/bg_content.png) bottom no-repeat;
	p#to_top{
		text-align: right;
		margin-top: 45px;
	}
}
article{
	@include base_width;
	min-height: 450px;
}
section{
	margin-bottom: 30px;
	h2{margin-bottom: 30px;}
}
footer {
	padding: 10px 0;
	background-color:#ABC910;
	div { @include base_width;}
	address{ float: left;}
	p{
		float: right;
		color: #fff;
		font-size: $fsize_ss;
	}
}

	