﻿@charset "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
ul,ol{
	list-style:none;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}    


/* ===================
clearfix 
===================*/ 
.clearfix:after {  
visibility:hidden;
height:0;
display: block;
font-size: 0px;  
content: " ";  
clear: both;  

}  
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }  


/* ===================
画像余白クリア
===================*/
img{
	font-size:0;
	line-height:0;
	vertical-align:top;
}


/* ===================
リンク
===================*/
a { 
	outline: none; 
}
a:link {
	text-decoration: none;
	color: #000;  
}
a:visited {
	text-decoration: none;
	color: #000;  
}
a:hover {
	text-decoration: underline;
	color: #000;  
}
a:active {
	text-decoration: none;
	color: #000;  
}
a:hover img{
  opacity: 0.7;
}
