﻿#content.events {
	article{//イベント設計・施工例共通
		section{
			float: left;
			width: 700px;
			div.det_tit{
				margin-bottom: 10px;
				padding: 5px 10px;
				border: 1px solid $bdc_gray;
				border-radius: 5px;
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#32ffffff', endColorstr='#ffdddddd', GradientType=0)";/* IE8-9 */
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5, #ffffff),color-stop(1, #dddddd));
				background-image: -webkit-linear-gradient(bottom, #ffffff 50%, #dddddd 100%);
				background-image: linear-gradient(to bottom, #ffffff 50%, #dddddd 100%);
				 box-shadow: 0 5px 5px -5px #cccccc;
				h3{
					padding-left: 10px;
					border-left: 5px solid $color_orange;
					font-size: $fsize_l;
				}
			}
			a.to_arc{
				&:hover{ text-decoration: none;}
				p{
					width: 260px;
					margin: 0 auto;
					line-height: 3;
					font-size: $fsize_l;
					border: 1px solid $bdc_gray;
					text-align: center;	
					border-radius: 3px;			
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#32ffffff', endColorstr='#fff5f5f5', GradientType=0)";/* IE8-9 */
					background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5, #ffffff),color-stop(1, #f5f5f5));
					background-image: -webkit-linear-gradient(bottom, #ffffff 50%, #f5f5f5 100%);
					background-image: linear-gradient(to bottom, #ffffff 50%, #f5f5f5 100%);
					&:before{
						content: "";
						display: inline-block;
						border: 5px solid transparent;
						border-right: 8px solid $color_orange;
						position: relative;
						left: -10px;
						top: -1px;
					}
					&:hover{ opacity: 0.5;}
				}
			}
		}
		nav{
			float: right;
			margin-top: 37px+30px ;
			width: 210px;
			background-color: #f9f5ea;
			border-radius: 5px;
			ul li{
					padding: $fsize_m /2 $fsize_m;
					border-top: 1px dotted $bdc_gray;
			}
			h4{
				background: url(../images/common/icon_home2.png) 10px 10px no-repeat;
				padding: $fsize_m 0 $fsize_m/2 $fsize_m*2.5;

			}
		}
		dd span:first-child{//一覧・詳細表示のカテゴリのスタイル
			display: inline-block;
			padding: 3px 5px;
			border-radius: 3px;	
			background-color: #f9f5ea;
			font-size: $fsize_s;
		}
		dd p{line-height: 2;}
	}
	section#events_archive{
		div.archive{
			margin: 0 0 30px 25px;
			border: 1px solid $bdc_gray;
			padding: 0 10px ;

		}
		dl{
			display: table;
			width: 100%;
			min-height: 60px;
			&:first-child{dt,dd{border-top: none;}}
		}
		dt,dd{
			display: table-cell;
			padding: 15px 0;
			border-top: 1px solid $bdc_gray;
		}
		dt{width: $fsize_m *12;}

		dd a{@include link(#996633);}
	}
	section#events_detail{
		dl{
			min-height: 350px;
			margin-bottom: 30px;
		}
		dt{ text-align: right;}
		dd img{ margin-top: 20px;}
	}
}