﻿#content.examples {
	@extend #content.events;
	section#examples_archive{
		width: 740px;
		div.clearfix{margin-left: 20px;}
		dl{
			float: left;
			width: 210px;
			border: 1px solid $bdc_gray;
			margin: 0 5px 30px 0;
			padding: 10px;
			&:hover{
				background-color: #f0f0f0;
				opacity: 0.8;
			}
		}
		dt,dt+dd{
			color: #996633;
			margin-bottom: 3px;
		}
		dd div.viewBox{margin-bottom: 8px;}
	}
	section#examples_detail{
		width: 700px;
		padding-left: 20px;
		h2{margin-left: -20px;}
		div.det_tit h3{ border-color: $color_blue;}
		dl{margin-bottom: 30px;}
		dt{
			margin: 30px 0 5px;
			padding: 5px 0 ;
			border: 1px solid $bdc_gray;
			border-left: none;
			border-right: none;
			font-size: $fsize_l;
			font-weight: bold;
			color: $color_blue;
		}
		dd{
			float: left;
			width: 340px;
			vertical-align: top;
		}
		dd+dd{float: right;}
		a.to_arc p{
			margin-top: 50px;
			&:before{ border-right-color: $color_blue;}
		}
	}
}