﻿#content.index {
	section.top_main{
		h3 {
			text-align: center;
			margin: 30px 0;
		}
		p{
			width: 630px;
			margin: 0 auto ;
		}
	}
	section#news{
		float: left;
		width: 479px;
		font-size: $fsize_s;
		div#news_wrap{
			height: 300px;
			overflow: auto;
			border: 1px solid $bdc_gray;
			dl{
				display: table;
				width: 100%;
			}
			dt,dd{
				display: table-cell;
				padding: 10px;
				vertical-align: top;
				border-bottom: 1px dotted $bdc_gray;
			}
			dt{width: $fsize_m *5;}
			dt+dd{
				width: $fsize_m *7;
				padding: 10px 0;
			}
			span{
				display: inline-block;
				padding: 0;
				text-align: center;
				width: $fsize_m *7;
				color: #fff;
				border-radius: 0;
				&.information{background-color: $color_red;}
				&.event{background-color: $color_orange;}
				&.example{background-color: $color_green;}
			}
			a{
				display: inline-block;
				width: 100%;
			}
		}
	}
	section.works{
		width: 423px;
		float: right;
		p{
			width: 315px;
			margin: 15px auto;
		}
		p#to_examples{
			width: 220px;
			padding: 10px 30px;
			text-align: center;
			border: 3px solid $color_orange;
			font-size: $fsize_l;
			font-weight: bold;
			a{
				@include link($color_orange);
				&:hover{text-decoration: none;}
			}
			&:hover{opacity: 0.5;}
		}
	}	
}
#content{
	section#news_detail{
		h2{
			height: 37px;
			padding-left: 2.5rem;
			border-left: 8px solid $color_green;
			font-size: 2.5rem;
		}
		div.det_tit h3{ border-color: $color_green;}
		dl{min-height: 200px;}
		dt{text-align: right;}
		span.information{
			color: #fff;
			padding: 0 $fsize_m;
			background-color: $color_red;
		}
		span.event{
			color: #fff;
			padding: 0 $fsize_m;
			background-color: $color_orange;
		}
		span.example{
			color: #fff;
			padding: 0 $fsize_m;
			background-color: $color_green;
		}
		a.to_arc p{
			margin-top: 50px;
			&:before{ border-right-color: $color_green;}
		}
	}
}