﻿#content.member {
	section{
		margin-bottom: 120px;
		table{
			width: 935px;
			margin-left:25px;
		}
		tr{
			background-color: #fdf4df;
			&:nth-child(even) {background-color: #fff;}
		}
		th,td{ padding: 10px;}
		th{ width: 226px;}
		th a{
			display: inline-block;
			background-color: #fff;
		}
		dt{
			margin-bottom: 3px;
			font-size: $fsize_l;
			font-weight: bold;
		}
		a{@include link(blue);}
	}	
}