﻿@charset "UTF-8";
/**
*  pagerスタイル
*/

ul.pager{
	text-align: center;
	li{
		display: inline-block;
		margin: 0 3px;
		text-align: center;
		border: 1px solid #000;
		a{
			display: inline-block;
			width: 100%;
			&:hover{text-decoration: none;}
		}
		&:hover{opacity: 0.5;}
		&.active:hover{opacity: 1;}
	}
}

/* ===================
木楽匠家pager
===================*/ 
ul.pager{
	$color_brown:#b2a383;
	li{
		width: 33px;
		line-height: 33px;
		border-color: $color_brown;
		color: #fff;
		a{color: $color_brown;}
		&.active{background-color: $color_brown;}
	}
}