﻿/* INPUT エレメント定義 */
	
input, select, textarea, button {
	font-family:   	"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Tahoma ;
	vertical-align: middle;
	font-size:     12px;
	border:1px solid silver;
}

.cbx14        {
	font-size:    14px;
	margin:		0 0 0 0px;
	padding:		0 0 0 0px;
}

.cbx12        {
	font-size:    12px;
	margin:		0 0 0 0px;
	padding:		0 0 0 0px;
}

.cbx10        {
	font-size:    10px;
	margin:		0 0 0 0px;
	padding:		0 0 0 0px;
}

.select10 {
	font-size:     10px; }

.select11 {
	font-size:     11px; }

.select12	{
	font-size:     12px; }

.select14 {
	font-size: 14px;}

.btn14     {
	font-size:     14px;
	text-align:     center;
	padding-top:    1px;
	width:          100px;
	height:         26px;
}

.btn12     {
	font-size:     12px;
	text-align:     center;
	padding-top:    1px;
	width:          100px;
	height:         24px;
	vertical-align: middle }

.btn10 {
	font-size:          10px;
	margin:             0;
	padding-top:		1px;
}

.tbox14 {
	font-size:        14px;
	background-color: white;
	padding-top:      2px;
	padding-bottom:   2px;
	padding-left:     2px;
	height:           18px;
	vertical-align:   middle;
}

.tbox12 {
	font-size:        12px;
	background-color: #ffffff;
	padding-top:      2px;
	padding-bottom:   2px;
	padding-left:     2px;
	height:           16px;
	vertical-align:   middle;
}

.tbox11 {
	font-size:        11px;
	background-color: #ffffff;
	padding-top:      2px;
	padding-bottom:   2px;
	padding-left:     2px;
	height:           14px;
	vertical-align:   middle;
}


.tbox10 {
	font-size:        10px;
	background-color: #ffffff;
	padding-top:      2px;
	padding-bottom:   2px;
	padding-left:     2px;
	height:           14px;
	vertical-align:   middle;
}

.rad11  {
	font-size:       	11px;
	background-color: white;
	padding-top:      3px;
	padding-bottom:   3px;
	padding-left:     3px;
	height:           20px;
	vertical-align:   middle;
}

.rad12  {
	font-size:       	12px;
	background-color: white;
	padding-top:      3px;
	padding-bottom:   3px;
	padding-left:     3px;
	height:           20px;
	vertical-align:   middle;
}

.rad14  {
	font-size:       	14px;
	background-color: white;
	padding-top:      4px;
	padding-bottom:   4px;
	padding-left:     4px;
	height:           22px;
	vertical-align:   middle;
	}

.tx10	{	
	font-size:	10px;
	line-height: 1.8em;	
	}	

.txred	{
	color:			Red;
	}	

.tx12	{	
	font-size:	12px;
	line-height: 1.6em;	
}	

.tx14	{	
	font-size:	14px;
	line-height: 1.4em;
}

.req,
.validation-error,
.field-validation-error {
	font-size:10px;
	color:Red;
	padding-left:4px;
}
.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

label.error {
	font-size:10px;
	color:Red;
	padding-left:4px;

}
input.error, select.error, textarea.error {
	border:1px solid red;
}

#loading {
	width: 80px; /* gif画像の幅 */
	height: 80px; /* gif画像の高さ */
	margin: -195px 0 0 -240px; /* gif画像を画面中央に */
	padding: 150px 200px;
	background-color: silver;
	border-radius: 15px;
	border:1px solid silver;
	opacity: 0.5; /* 透過させる */
	position: fixed; /* gif画像をスクロールさせない */
	left: 50%; /* gif画像を画面横中央へ */
	top: 50%; /* gif画像を画面縦中央へ */
}

.w50 { width:50px; }
.w75 { width:75px; }
.w100 { width:100px; }
.w150 { width:150px; }
.w200 { width:200px; }
.w250 { width:250px; }
.w300 { width:300px; }
.w350 { width:350px; }
.w400 { width:400px; }
.w500 { width:500px; }
