@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* ===================
clearfix 
===================*/
.clearfix:after {
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0px;
  content: " ";
  clear: both;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

/* ===================
画像余白クリア
===================*/
img {
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

/* ===================
リンク
===================*/
a {
  outline: none;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

a:active {
  text-decoration: none;
  color: #000;
}

a:hover img {
  opacity: 0.7;
}

/* ===================
共通変数 
===================*/
/*フォントサイズ大 16px*/
/*フォントサイズ中 14px*/
/*フォントサイズ小 13px*/
/*フォントサイズ極小 12px*/
/*font-color 黒*/
/*font-color グレー*/
/*border-color グレー*/
/*テーマカラー赤*/
/*テーマカラー緑*/
/*テーマカラーオレンジ*/
/*テーマカラー青*/
/* ===================
共通スタイル 
===================*/
html {
  font-size: 62.5%;
  /*10px*/
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴシック Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic", sans-serif;
  font-size: 1.4rem;
  font-size: 1.4em;
  color: black;
}

p {
  line-height: 1.7;
  font-size: 1.4rem;
}

header#header {
  /*コンテンツ幅*/
  width: 960px;
  margin: 0 auto;
}
header#header h1 {
  padding: 25px 0;
  text-align: center;
}
header#header h1 img:hover {
  opacity: 0.3;
}
header#header nav {
  width: 100%;
  border: 1px solid #00ab84;
  border-left: none;
  border-right: none;
}
header#header nav.index {
  border-bottom: none;
}
header#header nav ul {
  display: table;
  width: 100%;
}
header#header nav li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0;
}
header#header nav li a {
  display: block;
  padding: 0 1.4rem;
  border-right: 1px dotted #00ab84;
}
header#header nav li a:hover {
  text-decoration: none;
  opacity: 0.5;
}
header#header nav li:first-child a {
  padding-left: 2.8rem;
  border-left: 1px dotted #00ab84;
  background: url(../images/common/icon_home.png) 1.4rem 2px no-repeat;
}
header#header nav li:last-child {
  text-align: right;
  padding-right: 0;
}
header#header nav li.active {
  border-bottom: 3px solid #00ab84;
}
header#header nav li.active a:after {
  position: absolute;
  bottom: 0;
  left: 45%;
  border: 5px solid transparent;
  border-bottom-color: #00ab84;
  content: "";
}

ol.breadcrumb {
  /*コンテンツ幅*/
  width: 960px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 2;
  text-align: right;
}
ol.breadcrumb li {
  display: inline-block;
}
ol.breadcrumb li:before {
  margin: 0 10px;
  content: ">";
}
ol.breadcrumb li:first-child:before {
  margin: 0;
  content: none;
}

#content {
  width: 980px;
  margin: 0 auto;
  background: url(../images/common/bg_content.png) bottom no-repeat;
}
#content p#to_top {
  text-align: right;
  margin-top: 45px;
}

article {
  /*コンテンツ幅*/
  width: 960px;
  margin: 0 auto;
  min-height: 450px;
}

section {
  margin-bottom: 30px;
}
section h2 {
  margin-bottom: 30px;
}

footer {
  padding: 10px 0;
  background-color: #ABC910;
}
footer div {
  /*コンテンツ幅*/
  width: 960px;
  margin: 0 auto;
}
footer address {
  float: left;
}
footer p {
  float: right;
  color: #fff;
  font-size: 1.2rem;
}

/**
*  pagerスタイル
*/
ul.pager {
  text-align: center;
}
ul.pager li {
  display: inline-block;
  margin: 0 3px;
  text-align: center;
  border: 1px solid #000;
}
ul.pager li a {
  display: inline-block;
  width: 100%;
}
ul.pager li a:hover {
  text-decoration: none;
}
ul.pager li:hover {
  opacity: 0.5;
}
ul.pager li.active:hover {
  opacity: 1;
}

/* ===================
木楽匠家pager
===================*/
ul.pager li {
  width: 33px;
  line-height: 33px;
  border-color: #b2a383;
  color: #fff;
}
ul.pager li a {
  color: #b2a383;
}
ul.pager li.active {
  background-color: #b2a383;
}

#content.index section.top_main h3 {
  text-align: center;
  margin: 30px 0;
}
#content.index section.top_main p {
  width: 630px;
  margin: 0 auto;
}
#content.index section#news {
  float: left;
  width: 479px;
  font-size: 1.3rem;
}
#content.index section#news div#news_wrap {
  height: 300px;
  overflow: auto;
  border: 1px solid #d4d4d4;
}
#content.index section#news div#news_wrap dl {
  display: table;
  width: 100%;
}
#content.index section#news div#news_wrap dt, #content.index section#news div#news_wrap dd {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px dotted #d4d4d4;
}
#content.index section#news div#news_wrap dt {
  width: 7rem;
}
#content.index section#news div#news_wrap dt + dd {
  width: 9.8rem;
  padding: 10px 0;
}
#content.index section#news div#news_wrap span {
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 9.8rem;
  color: #fff;
  border-radius: 0;
}
#content.index section#news div#news_wrap span.information {
  background-color: #e84567;
}
#content.index section#news div#news_wrap span.event {
  background-color: #f39700;
}
#content.index section#news div#news_wrap span.example {
  background-color: #00ab84;
}
#content.index section#news div#news_wrap a {
  display: inline-block;
  width: 100%;
}
#content.index section.works {
  width: 423px;
  float: right;
}
#content.index section.works p {
  width: 315px;
  margin: 15px auto;
}
#content.index section.works p#to_examples {
  width: 220px;
  padding: 10px 30px;
  text-align: center;
  border: 3px solid #f39700;
  font-size: 1.6rem;
  font-weight: bold;
}
#content.index section.works p#to_examples a {
  /*ａ擬似クラス文字色*/
}
#content.index section.works p#to_examples a:link {
  color: #f39700;
}
#content.index section.works p#to_examples a:visited {
  color: #f39700;
}
#content.index section.works p#to_examples a:hover {
  color: #f39700;
}
#content.index section.works p#to_examples a:active {
  color: #f39700;
}
#content.index section.works p#to_examples a:hover {
  text-decoration: none;
}
#content.index section.works p#to_examples:hover {
  opacity: 0.5;
}

#content section#news_detail h2 {
  height: 37px;
  padding-left: 2.5rem;
  border-left: 8px solid #00ab84;
  font-size: 2.5rem;
}
#content section#news_detail div.det_tit h3 {
  border-color: #00ab84;
}
#content section#news_detail dl {
  min-height: 200px;
}
#content section#news_detail dt {
  text-align: right;
}
#content section#news_detail span.information {
  color: #fff;
  padding: 0 1.4rem;
  background-color: #e84567;
}
#content section#news_detail span.event {
  color: #fff;
  padding: 0 1.4rem;
  background-color: #f39700;
}
#content section#news_detail span.example {
  color: #fff;
  padding: 0 1.4rem;
  background-color: #00ab84;
}
#content section#news_detail a.to_arc p {
  margin-top: 50px;
}
#content section#news_detail a.to_arc p:before {
  border-right-color: #00ab84;
}

#content.events article section, #content.examples article section {
  float: left;
  width: 700px;
}
#content.events article section div.det_tit, #content.examples article section div.det_tit {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#32ffffff', endColorstr='#ffdddddd', GradientType=0)";
  /* IE8-9 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, white), color-stop(1, #dddddd));
  background-image: -webkit-linear-gradient(bottom, white 50%, #dddddd 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #dddddd 100%);
  box-shadow: 0 5px 5px -5px #cccccc;
}
#content.events article section div.det_tit h3, #content.examples article section div.det_tit h3 {
  padding-left: 10px;
  border-left: 5px solid #f39700;
  font-size: 1.6rem;
}
#content.events article section a.to_arc:hover, #content.examples article section a.to_arc:hover {
  text-decoration: none;
}
#content.events article section a.to_arc p, #content.examples article section a.to_arc p {
  width: 260px;
  margin: 0 auto;
  line-height: 3;
  font-size: 1.6rem;
  border: 1px solid #d4d4d4;
  text-align: center;
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#32ffffff', endColorstr='#fff5f5f5', GradientType=0)";
  /* IE8-9 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, white), color-stop(1, whitesmoke));
  background-image: -webkit-linear-gradient(bottom, white 50%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #f5f5f5 100%);
}
#content.events article section a.to_arc p:before, #content.examples article section a.to_arc p:before {
  content: "";
  display: inline-block;
  border: 5px solid transparent;
  border-right: 8px solid #f39700;
  position: relative;
  left: -10px;
  top: -1px;
}
#content.events article section a.to_arc p:hover, #content.examples article section a.to_arc p:hover {
  opacity: 0.5;
}
#content.events article nav, #content.examples article nav {
  float: right;
  margin-top: 67px;
  width: 210px;
  background-color: #f9f5ea;
  border-radius: 5px;
}
#content.events article nav ul li, #content.examples article nav ul li {
  padding: 0.7rem 1.4rem;
  border-top: 1px dotted #d4d4d4;
}
#content.events article nav h4, #content.examples article nav h4 {
  background: url(../images/common/icon_home2.png) 10px 10px no-repeat;
  padding: 1.4rem 0 0.7rem 3.5rem;
}
#content.events article dd span:first-child, #content.examples article dd span:first-child {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #f9f5ea;
  font-size: 1.3rem;
}
#content.events article dd p, #content.examples article dd p {
  line-height: 2;
}
#content.events section#events_archive div.archive, #content.examples section#events_archive div.archive {
  margin: 0 0 30px 25px;
  border: 1px solid #d4d4d4;
  padding: 0 10px;
}
#content.events section#events_archive dl, #content.examples section#events_archive dl {
  display: table;
  width: 100%;
  min-height: 60px;
}
#content.events section#events_archive dl:first-child dt, #content.examples section#events_archive dl:first-child dt, #content.events section#events_archive dl:first-child dd, #content.examples section#events_archive dl:first-child dd {
  border-top: none;
}
#content.events section#events_archive dt, #content.examples section#events_archive dt, #content.events section#events_archive dd, #content.examples section#events_archive dd {
  display: table-cell;
  padding: 15px 0;
  border-top: 1px solid #d4d4d4;
}
#content.events section#events_archive dt, #content.examples section#events_archive dt {
  width: 16.8rem;
}
#content.events section#events_archive dd a, #content.examples section#events_archive dd a {
  /*ａ擬似クラス文字色*/
}
#content.events section#events_archive dd a:link, #content.examples section#events_archive dd a:link {
  color: #996633;
}
#content.events section#events_archive dd a:visited, #content.examples section#events_archive dd a:visited {
  color: #996633;
}
#content.events section#events_archive dd a:hover, #content.examples section#events_archive dd a:hover {
  color: #996633;
}
#content.events section#events_archive dd a:active, #content.examples section#events_archive dd a:active {
  color: #996633;
}
#content.events section#events_detail dl, #content.examples section#events_detail dl {
  min-height: 350px;
  margin-bottom: 30px;
}
#content.events section#events_detail dt, #content.examples section#events_detail dt {
  text-align: right;
}
#content.events section#events_detail dd img, #content.examples section#events_detail dd img {
  margin-top: 20px;
}

#content.examples section#examples_archive {
  width: 740px;
}
#content.examples section#examples_archive div.clearfix {
  margin-left: 20px;
}
#content.examples section#examples_archive dl {
  float: left;
  width: 210px;
  border: 1px solid #d4d4d4;
  margin: 0 5px 30px 0;
  padding: 10px;
}
#content.examples section#examples_archive dl:hover {
  background-color: #f0f0f0;
  opacity: 0.8;
}
#content.examples section#examples_archive dt, #content.examples section#examples_archive dt + dd {
  color: #996633;
  margin-bottom: 3px;
}
#content.examples section#examples_archive dd div.viewBox {
  margin-bottom: 8px;
}
#content.examples section#examples_detail {
  width: 700px;
  padding-left: 20px;
}
#content.examples section#examples_detail h2 {
  margin-left: -20px;
}
#content.examples section#examples_detail div.det_tit h3 {
  border-color: #036eb8;
}
#content.examples section#examples_detail dl {
  margin-bottom: 30px;
}
#content.examples section#examples_detail dt {
  margin: 30px 0 5px;
  padding: 5px 0;
  border: 1px solid #d4d4d4;
  border-left: none;
  border-right: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: #036eb8;
}
#content.examples section#examples_detail dd {
  float: left;
  width: 340px;
  vertical-align: top;
}
#content.examples section#examples_detail dd + dd {
  float: right;
}
#content.examples section#examples_detail a.to_arc p {
  margin-top: 50px;
}
#content.examples section#examples_detail a.to_arc p:before {
  border-right-color: #036eb8;
}

#content.about section {
  margin-bottom: 50px;
}
#content.about section#ab1 {
  min-height: 555px;
  background: url(../images/about/img01_1.jpg) right bottom no-repeat;
}
#content.about section#ab1 div#ab1_1 {
  width: 552px;
  margin-bottom: 20px;
}
#content.about section#ab1 div#ab1_2 {
  width: 310px;
}
#content.about section#ab1 div#ab1_2 h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: #e84567;
  border-bottom: 1px solid #d4d4d4;
}
#content.about section#ab2 {
  min-height: 495px;
  background: url(../images/about/img02_1.jpg) 0 0 no-repeat;
}
#content.about section#ab2 div#ab2_1 {
  float: right;
  width: 639px;
}
#content.about section#ab2 div#ab2_1 h2 img {
  padding-bottom: 30px;
}
#content.about section#ab2 div#ab2_1 img {
  float: left;
}
#content.about section#ab2 div#ab2_1 p {
  float: right;
  width: 407px;
}
#content.about section#ab3 {
  min-height: 570px;
  background: url(../images/about/img03_1.jpg) right bottom no-repeat;
}
#content.about section#ab3 div#ab3_1 {
  width: 621px;
  margin-bottom: 30px;
}
#content.about section#ab3 div#ab3_2 {
  width: 380px;
  padding: 15px 15px 10px 25px;
  border: 2px solid #d4d4d4;
  border-radius: 5px;
}
#content.about section#ab3 div#ab3_2 h3 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.4rem;
  color: #036eb8;
}
#content.about section#ab3 div#ab3_2 ol {
  padding-left: 2.1rem;
  text-indent: -2.1rem;
}
#content.about section#ab3 div#ab3_2 ol li {
  margin-bottom: 5px;
}
#content.about section#ab4 {
  min-height: 646px;
  background: url(../images/about/img04_1.jpg) 0 0 no-repeat;
  margin-bottom: 150px;
}
#content.about section#ab4 div#ab4_1 {
  float: right;
  width: 521px;
  min-height: 646px;
  background: url(../images/about/img04_2.jpg) right bottom no-repeat;
}
#content.about section#ab4 div#ab4_1 dt, #content.about section#ab4 div#ab4_1 h4 {
  color: #00ab84;
}
#content.about section#ab4 div#ab4_1 dt {
  margin-top: 5px;
  font-weight: bold;
}
#content.about section#ab4 div#ab4_1 h4 {
  margin-top: 20px;
  font-size: 1.4rem;
}

#content.member section {
  margin-bottom: 120px;
}
#content.member section table {
  width: 935px;
  margin-left: 25px;
}
#content.member section tr {
  background-color: #fdf4df;
}
#content.member section tr:nth-child(even) {
  background-color: #fff;
}
#content.member section th, #content.member section td {
  padding: 10px;
}
#content.member section th {
  width: 226px;
}
#content.member section th a {
  display: inline-block;
  background-color: #fff;
}
#content.member section dt {
  margin-bottom: 3px;
  font-size: 1.6rem;
  font-weight: bold;
}
#content.member section a {
  /*ａ擬似クラス文字色*/
}
#content.member section a:link {
  color: blue;
}
#content.member section a:visited {
  color: blue;
}
#content.member section a:hover {
  color: blue;
}
#content.member section a:active {
  color: blue;
}
